<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Creador de Examen</title>
        <link rel='stylesheet' href="css/style.css">
        <link rel='stylesheet' href="lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="lib/paper/css/open-sans.css">
        <link rel="stylesheet" type="text/css" href="lib/paper/css/sheets-of-paper-a4.css">
        <link rel="stylesheet" type="text/css" href="lib/ng-dialog/ngDialog.css">
        <link rel="stylesheet" href="lib/ng-dialog/ngDialog-theme-default.css">

        <script type="text/javascript" src="lib/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script type="text/javascript" data-main="main" src="lib/requirejs/requirejs.js"></script>
    </head>
    <body class="document" ng-controller="testController">

        <div class="tools" ng-hide="printView">

            <ol class="list-group">
            	 <li 
            	 	class="list-group-item" 
            	 	ng-repeat="testInstance in testInstances track by $index" 
            	 	ng-if="$index == testInstanceIndex">
                    <div class="input-group" >
                        <label type="text" class="form-control">Tema {{$index + 1}}</label>
                        
                        <span class="input-group-btn">
							<button 
					     		type="text" 
					     		class="btn btn-default glyphicon glyphicon-refresh" 
					     		ng-click="refreshTestInstance(testInstance)">
				     		</button>
							<button 
					     		type="text" 
					     		class="btn btn-default glyphicon glyphicon-chevron-left" 
					     		ng-disabled="$first"
					     		ng-click="minusTestInstanceIndex()">
				     		</button>
				     		<button 
					     		type="text" 
					     		class="btn btn-default glyphicon glyphicon-chevron-right" 
					     		ng-disabled="$last"
					     		ng-click="plusTestInstanceIndex()">
				     		</button>
				     		<button 
					     		type="text" 
					     		class="btn btn-default glyphicon glyphicon-minus" 
					     		ng-disabled="$first"					     		
					     		ng-click="testInstances.splice($index, 1); minusTestInstanceIndex()">
				     		</button>
				     		<button 
					     		type="text" 
					     		class="btn btn-default glyphicon glyphicon-plus" 
					     		ng-click="addTestInstance()">
				     		</button>
						</span>
                        
                    </div>                    
                </li>

                <li class="list-group-item">
                    <div class="input-group" >
                        <span class="input-group-btn">
                        	<label type="text" class="form-control">Título</label>
                        </span>
                        <input type="text" class="form-control" ng-model="selectedTestInstance.title">
                    </div>
                    <div class="input-group" >
                        <span class="input-group-btn">
                        	<label type="text" class="form-control">Subtítulo</label>
                        </span>
                        <input type="text" class="form-control" ng-model="selectedTestInstance.subtitle">
                    </div>
                </li>
                <li class="list-group-item">
					<div class="input-group" ng-repeat="problem in selectedTestInstance.problems track by $index" >
				     	<button 
				     		type="text" 
				     		class="btn btn-default btn-block" 
				     		ng-click="setSelected(problem)">Problema {{$index + 1}}
				     	</button>
		                <span class="input-group-btn">
                        	<button 
                        		class="btn btn-default glyphicon glyphicon-plus" 
                        		type="button" 
                        		ng-click="addProblem()">                  		
                        	</button>
                        </span>                        
                    </div>               
                </li>                
            </ol>
        </div>

       <div class="tools-bottom" ng-hide="printView">
           	<ol class="list-group">
               	<li class="list-group-item">
	    
	               	<div class="input-group" >
	                    <span class="input-group-btn">
	                     	<label type="text" class="form-control">Consigna</label>
	                    </span>
	                    <input 
	                    	type="text" 
	                    	class="form-control" 
	                    	ng-model="selectedProblem.consign">
		     			<span class="input-group-btn">
	                    	<button 
		                    	class="btn btn-default glyphicon glyphicon-plus"
		                    	ng-click="selectedProblem.addExercise()">
		                    </button>
	                    </span>
	                </div>

	               	<div class="input-group" ng-repeat="exercise in selectedProblem.exercises track by $index" >
	                    <label type="text" class="form-control">Ejercicio {{$index + 1}}</label>
	        			<span class="input-group-btn">
		        			<button 
		        				class="btn btn-default glyphicon glyphicon-pencil"
		        				ng-click="exerciseConfig(exercise)">
		        			</button>
		        			<button 
		                    	class="btn btn-default glyphicon glyphicon-refresh"
		                    	ng-click="refreshExercise(exercise)">
		                    </button>
		                    <button 
		                    	class="btn btn-default glyphicon glyphicon-minus">
		                    </button>
	                    </span>
        			</div>

              	</li>
            </ol>
        </div>


<!--
        <div class="page" contenteditable="false">
            <h1>{{test.title}}</h1>        
            <h5>{{test.subtitle}}</h5>        
	        <div ng-repeat="problem in test.problems track by $index">	
	      		<h3>Ejercicio {{$index + 1}}: {{problem.consign}}</h3>
	         		<ol>
		            	<li ng-repeat="exercise in problem.exercises">
		       	            <h4 mathjax-bind="exercise.instance.problemExpression"></h4>
		       	        </li>
			        </ol>
			</div>
	    </div>
-->

		<div class="page" contenteditable="false" ng-hide="printView">

            <h1>{{selectedTestInstance.title}} (Tema {{testInstanceIndex + 1}})</h1>        
            <h5>{{selectedTestInstance.subtitle}}</h5>        
	        <div ng-repeat="problem in selectedTestInstance.problems track by $index">	
	      		<h3>Ejercicio {{$index + 1}}: {{problem.consign}}</h3>
	         		<ol>
		            	<li ng-repeat="exercise in problem.exercises">
		       	            <h4 mathjax-bind="exercise.instance.problemExpression"></h4>
		       	        </li>
			        </ol>
			</div>

	    </div>

	    <div class="page" contenteditable="false" ng-repeat="testInstance in testInstances track by $index" ng-show="printView">
            
            <h2>{{testInstance.title}} (Tema {{$index +1 }})</h2>        
            <h5>{{testInstance.subtitle}}</h5>        
	        <div ng-repeat="problem in testInstance.problems track by $index">	
	      		<h3>Ejercicio {{$index + 1}}: {{problem.consign}}</h3>
	         		<ol>
		            	<li ng-repeat="exercise in problem.exercises">
		       	            <h4 mathjax-bind="exercise.instance.problemExpression"></h4>
		       	        </li>
			        </ol>
			</div>

	    </div>

	    <div class="page" contenteditable="false"  ng-show="printView">
	    	<h2>Soluciones</h2>

            <div ng-repeat="testInstance in testInstances track by $index">         

            	<h3>Tema {{$index + 1}}</h3>   
            	<table class="table">
            		<thead>
            			<tr>
            				<th>Problema</th>
            				<th>Número</th>
            				<th>Expresión</th>
            				<th>Solución</th>
            			</tr>            			
            		</thead>
            		<tbody ng-repeat="problem in testInstance.problems track by $index">           			
            			
            				<tr ng-repeat="exercise in problem.exercises">
            					<td>{{$parent.$index + 1}}</td>
            					<td>{{$index + 1}}</td>            					   					
            					<td mathjax-bind="exercise.instance.problemExpression"></td>           			
            					<td>
            						<span ng-repeat="answer in exercise.instance.correctAnswer track by $index">
            							<span mathjax-bind="answer"></span>
            							<span>, </span>
            						</span>
            					</td>     
            				</tr>
            			</div>
            			
            		</tbody>
            	</table>    


		        

            </div>
           

	    </div>




	    <div class="tools-right-bottom">
			<div class="input-group" >
		    	<span class="input-group-btn">
		            <button 
			          	class="btn btn-default glyphicon glyphicon-print"
			           	ng-click="printView = !printView">
			        </button>
		        </span>	        
	        </div>
	    </div>






        <script type="text/ng-template" id="firstDialog">
			<div class="ngdialog-message">
							
				<h1>Ejercicio</h1>
			    <div class="btn-group btn-group-justified">
			        <label class="btn btn-default" ng-model="exercise.config.type" uib-btn-radio="'SIMPLE'">Simple</label>
			        <label class="btn btn-default" ng-model="exercise.config.type" uib-btn-radio="'EQUATION_1'">Ecuación 1°</label>
			        <label class="btn btn-default" ng-model="exercise.config.type" uib-btn-radio="'EQUATION_2'">Ecuación 2°</label>
  			        <label class="btn btn-default" ng-model="exercise.config.type" uib-btn-radio="'EQUATION_3'">Ecuación 3°</label>
			    </div>	

				<h2>Configuración</h2>


				<div ng-if="exercise.config.type == 'SIMPLE'">
					<div class="input-group" >
	        			<span class="input-group-btn">
		        			<label type="text" class="form-control">Forma</label>	
	                    </span>
	                    <input type="text" class="form-control" ng-model="exercise.config.form">	                    	                    
	       			</div>
					<div class="input-group" >
	        			<span class="input-group-btn">
		        			<label type="text" class="form-control">Mínimo</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.min">	
	       			</div>
					<div class="input-group" >
	        			<span class="input-group-btn">
		        			<label type="text" class="form-control">Máximo</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.max">
	       			</div>
					<div class="input-group" >
	        			<span class="input-group-btn">
		        			<label type="text" class="form-control">Signo</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.sign">
	       			</div>     
	       			<div class="input-group" >
	        			<span class="input-group-btn">
		        			<label type="text" class="form-control">Factor División</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.div">	
	       			</div> 
	       			<div class="input-group" >
	        			<span class="input-group-btn">
		        			<label type="text" class="form-control">Operaciones</label>	
	                    </span>
	                    <input type="text" class="form-control" ng-model="exercise.config.operations">	
	       			</div>
       			</div>

       			<div ng-if="exercise.config.type == 'EQUATION_1' || 
       						exercise.config.type == 'EQUATION_2' ||
       						exercise.config.type == 'EQUATION_3'">


        			<h4><label type="text" class="label label-primary">a</label></h4>
					<div class="input-group">
	        			<span class="input-group-btn">
		        			<label type="text" class="form-control">min</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.a.min">	                    	                    
	                    <span class="input-group-btn">
		        			<label type="text" class="form-control">max</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.a.max">
	                    <span class="input-group-btn">
		        			<label type="text" class="form-control">sign</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.a.sign">
	                    <span class="input-group-btn">
		        			<label type="text" class="form-control">div</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.a.div">
	       			</div>


        			<h4><label type="text" class="label label-primary">x1</label></h4>
	       			<div class="input-group" >
	        			<span class="input-group-btn">
		        			<label type="text" class="form-control">min</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.x1.min">	                    	                    
	                    <span class="input-group-btn">
		        			<label type="text" class="form-control">max</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.x1.max">
	                    <span class="input-group-btn">
		        			<label type="text" class="form-control">sign</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.x1.sign">
	                    <span class="input-group-btn">
		        			<label type="text" class="form-control">div</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.x1.div">
	       			</div>

       			<div ng-if="exercise.config.type != 'EQUATION_1'">

	       			<h4><label type="text" class="label label-primary">x2</label></h4>
	       			<div class="input-group" >
	        			<span class="input-group-btn">
		        			<label type="text" class="form-control">min</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.x2.min">	                    	                    
	                    <span class="input-group-btn">
		        			<label type="text" class="form-control">max</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.x2.max">
	                    <span class="input-group-btn">
		        			<label type="text" class="form-control">sign</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.x2.sign">
	                    <span class="input-group-btn">
		        			<label type="text" class="form-control">div</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.x2.div">
	       			</div>
	       		
	       		</div>	
       			<div ng-if="exercise.config.type == 'EQUATION_3'">

					<h4><label type="text" class="label label-primary">x3</label></h4>
	       			<div class="input-group" >
	        			<span class="input-group-btn">
		        			<label type="text" class="form-control">min</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.x3.min">	                    	                    
	                    <span class="input-group-btn">
		        			<label type="text" class="form-control">max</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.x3.max">
	                    <span class="input-group-btn">
		        			<label type="text" class="form-control">sign</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.x3.sign">
	                    <span class="input-group-btn">
		        			<label type="text" class="form-control">div</label>	
	                    </span>
	                    <input type="number" class="form-control" ng-model="exercise.config.x3.div">
	       			</div>
					
       			</div>



				<h2>Instancia</h2>
				<div class="input-group" >
        			<span class="input-group-btn">
	        			<label type="text" class="form-control">Expresión</label>	
                    </span>
                    <input type="text" class="form-control" ng-model="exercise.instance.problemExpression">	                   
       			</div>
				<div class="input-group" >
        			<span class="input-group-btn">
	        			<label type="text" class="form-control">Expresión resuelta</label>	
                    </span>
                    <input type="text" class="form-control" ng-model="exercise.instance.solvedExpression">                    
       			</div>
				<div class="input-group" >
        			<span class="input-group-btn">
	        			<label type="text" class="form-control">Respuesta</label>	
                    </span>
                    <input type="text" class="form-control" ng-model="exercise.instance.correctAnswer">	                    
       			</div>            		
			
		</script>


 
</body>
</html>