<header>
  <game-toolbar
    [config]="toolbarConfig"
    ></game-toolbar>
</header>

<br>

<section class="content">

  <br>
  <h2>Values:</h2>
  <label for="level-value">Level Value</label>
  <input type="number" name="level-value"  [(ngModel)]="toolbarConfig.levelCounter.value">
  <br>
  <label for="score-value">Score Value</label>
  <input type="number" name="score-value"  [(ngModel)]="toolbarConfig.scoreCounter.value">
  <br>
  <label for="lives-value">Lives Value</label>
  <input type="number" name="lives-value"  [(ngModel)]="toolbarConfig.livesCounter.value">
  <br>
  <label for="timer-value">Timer Value</label>
  <input type="number" name="timer-value"  [(ngModel)]="toolbarConfig.timerCounter.value">

  <h2>Extras:</h2>
  <label for="showExtras">Show Extras</label>
  <input type="checkbox" name="showExtras" [(ngModel)]="toolbarConfig.showExtras">{{toolbarConfig.showExtras}}
  <br>
  <label for="showTooltips">Show Tooltips</label>
  <input type="checkbox" name="showTooltips" [(ngModel)]="toolbarConfig.showTooltips">{{toolbarConfig.showTooltips}}

  <h2>Timers</h2>
  <label for="gameTimer">Game Timer</label>
  <button type="button" name="button" (click)="timerService.gameTimer.start()">start</button>
  <button type="button" name="button" (click)="timerService.gameTimer.stop()">stop</button>
  <button type="button" name="button" (click)="timerService.gameTimer.restart()">restart</button>
  <br>
  <label for="gameTimer">Extra Timer</label>
  <button type="button" name="button" (click)="timerService.extraTimer.start()">start</button>
  <button type="button" name="button" (click)="timerService.extraTimer.stop()">stop</button>
  <button type="button" name="button" (click)="timerService.extraTimer.restart()">restart</button>



</section>

<br>

<footer>

</footer>
