.valueNumber{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding-right: 3px;
}

@keyframes slide{
  0%{
    transform: translate3d(0px, 0px, 0px);
  }
  50%{
    transform: translate3d(0px, -30px, 0px);
  }
  51%{
    transform: translate3d(0px, 30px, 0px);
  }
  100%{
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes rotate{
  0%{

  }
  50%{

  }
  100%{
    transform: rotateY(180deg);
  }
}


.animate{
  animation: slide 200ms infinite;
}
.animateOnce{
  animation: slide 200ms ;
}
