
md-icon {
   background-repeat: no-repeat;
   display: inline-block;
   fill: currentColor;
   height: 24px;
   width: 24px;
}


/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v16/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


.toolbar-value{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding-right: 3px;
}


/* EXTRAS  */
.extras{
  background-color: transparent;
  z-index: 20;
  position: relative;
  margin-top: -50px;
}

.showExtras{
  animation: show-extras-animation 1s forwards;
}

.hideExtras{
  animation: hide-extras-animation 1s forwards;
}

@keyframes show-extras-animation{
  0%{
    transform: translate3d(0px, -100px, 0px);
  }
  100%{
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes hide-extras-animation{
  0%{
    transform: translate3d(0px, 0px, 0px);
  }
  100%{
    transform: translate3d(0px, -100px, 0px);
  }
}


/* TOOLTIPS  */
.tooltips{
  background-color: transparent;
  z-index: 30;
  position: relative;
  margin-top: -50px;
  transform: translateY(50px);
}

.show{
  animation: show-animation 1s forwards;
}

.hide{
  animation: hide-animation 1s forwards;
}

@keyframes show-animation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes hide-animation{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.tooltip-value{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: 'blue';
  padding-right: 5px;
}

.tooltip-up {
  animation: move-up 1000ms infinite;
}

.tooltip-down {
  animation: move-down 1000ms infinite;
}
@keyframes move-up{
  0%{
    transform: translate3d(0px, 15px, 0px) scale(1);
    opacity: 1;
  }
  100%{
    transform: translate3d(0px, -15px, 0px) scale(2);
    opacity: 0;
  }
}

@keyframes move-down{
  0%{
    transform: translate3d(0px, -15px, 0px) scale(1);
    opacity: 1;
  }
  100%{
    transform: translate3d(0px, 15px, 0px) scale(2);
    opacity: 0;
  }
}
