*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.classpath
*.project
*.settings
*.idea
*.iml
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/bin/
**/bin/
/build/
**/build/
**/vendor/
**/node_modules/
.gradle/
/.gradle/
**/.gradle/
**/dist/
