
<div class=" col-xs-12" >
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Problema</th>					
				<th>Expresión</th>				
				<th>Operaciones</th>
				<th>Signo</th>
				<th>Repeticiones</th>					
				<button class="btn glyphicon glyphicon-plus" (click)="addLevel()"></button>
				<button class="btn glyphicon glyphicon-edit" (click)="editAll = !editAll"></button>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="#levelConfig of levelConfigs; #i = index">
				<td>{{i+1}}</td>

				<math-form-combo 
					[form]="levelConfig.problemConfig.form" 
					(form)="levelConfig.problemConfig.form = $event">
				</math-form-combo>

				<td><select-logic-operations
						[operations]="levelConfig.problemConfig.operations" 
						(operations)="levelConfig.problemConfig.operations = $event">
				</select-logic-operations></td>
				
				<td><editable 
						[edit]="editAll" [value]="levelConfig.problemConfig.sign" 
						(valueChanged)="levelConfig.problemConfig.sign = toNumber($event)">
				</editable></td>

				<td><editable 
						[edit]="editAll" [value]="levelConfig.problemConfig.repetitions"
						(valueChanged)="levelConfig.problemConfig.repetitions= toNumber($event)"> 
				</editable></td>
				
				<button class="btn glyphicon glyphicon-trash" (click)="gameConfig.levelConfigs.splice(i,1)"></button>
			</tr>
		</tbody>
	</table>
</div>
