<meta charset="UTF-8">
<div class="container">
		<div class="jumbotron">
			<h1>Escriba una expresión lógica</h1>
			<p>El programa reconoce las variables, como ser "a","p","n";
				reconoce los operadores "and", "or", "then", "-".</p>
			<p>No te olvides de utilizar paréntesis para separar las
				expresiones.</p>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Expresión</span> 
				<input type="text" class="form-control" placeholder="-(p and q) then -s" ng-model="expressionString">
			</div>
			<br>
			<p>
				<a class="btn btn-primary btn-lg" role="button" ng-click="getExpression(expressionString)">Transformar</a>
			</p>
		</div>

		<div class="jumbotron">
			<h3 mathjax-bind="expressionResult" style="text-align: center"></h3>
		</div>
		
		<div class="jumbotron">
			<h1>Operaciones del mismo tipo</h1>
			<p>El programa reconoce la forma de su expresión y puede generar operaciones respetando dicha forma.</p>
				
			<h3 mathjax-bind="newExpression" style="text-align: center"></h3>
			
			<div class="input-group">
<!-- 				<span class="input-group-addon" id="basic-addon1">Probabilidad de Signo</span> -->
<!-- 				<input type="number" class="form-control" min=1 ng-model="signProbability"> -->
			</div> 			
			<p>
				<a class="btn btn-primary btn-lg" role="button" ng-click="getNewExpression(expressionString, signProbability)">Generar</a>
			</p>
		</div>
		
		<div class="jumbotron">
			<h1>Ejercicios</h1>
			<p>A partir de su operación, el programa puede generar ejercicios de manera aleatoria, respetando la forma.</p>
			<h3 mathjax-bind="exercise.expression" style="text-align: center"></h3>
			<h4 mathjax-bind="exercise.answer" style="text-align: center"></h4>
			
			<p>
				<a class="btn btn-primary btn-lg" role="button" ng-click="getExercise(expressionString)">Generar</a>
			</p>
		</div>
		
	</div>