<meta charset="UTF-8">
<style>
.navbar-nav.nav-justified > li{
    float:none;
}

.layer-control{
	background-color: rgba(0, 0, 0, 0.6);
  	position: absolute;
  	z-index: 2;
	text-align: center;
	
	width: 100%;
	height: 100%; 
}

h2{
	color: white;
	alpha: 0.5;
}

.sub-layer-control{
	transform: translate(0%, 50%);	
}



</style>
    <div class="layer-control container" ng-if="!game.estado.comenzo || game.estado.termino">
    	<div class="sub-layer-control">
	    	<div ng-if="!game.estado.comenzo">
	    		<h2>¿Te animás a un desafío de lógica?</h2>
	    		<br><br><br>
	    		<button class="btn btn-default" ng-click="reset()">¡Empezar a Jugar!</button>
	    	</div>
	    	<div ng-if="game.estado.termino">
		    	<h3>Juego Terminado!</h3>
		    	<h4>Puntaje: {{game.puntos}}</h4>
		    	<br><br><br>
	    		<button class="btn btn-default" ng-click="reset()">¡Jugar de Nuevo!</button>
		    </div>
		    
    	</div>    	
    </div>

<div class="container">
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Nivel: {{game.nivel.actual}}</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a>Puntos: {{game.puntos}}<span class="sr-only">(current)</span></a></li>
        </li>
        <li ng-repeat="lives in game.vidas"><a><img src="assets/heart.png"></a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a>Tiempo respuesta: {{game.tiempo.respuesta}}<span class="sr-only">(current)</span></a></li>
      
        <li class="active"><a>Tiempo total: {{game.tiempo.restante}}<span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<div class="jumbotron">
		<h3 mathjax-bind="game.ejercicio.expresion" style="text-align: center"></h3>
		<h4 mathjax-bind="game.ejercicio.respuesta" ng-show="game.ejercicio.estado.respondio" style="text-align: center"></h4>
	</div>
	
<div class="container">
    <div class="navbar">
        <ul class="nav navbar-nav nav-justified">
            <li> <a href="" ng-click="response('contradiction')">Contradicción</a> </li>
			<li> <a href="" ng-click="response('false')">Falso</a> </li>
			<li> <a href="" ng-click="response('true')">Verdadero</a> </li>
			<li> <a href="" ng-click="response('tautology')">Tautología</a> </li>			
		</ul>
</div>
	<div class="container">
		<button class="btn btn-default" ng-click="reset()">Start</button>
	</div>
</div>