<html ng-app="arithmetic-app" ng-controller="arithmetic-ctrl">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />


<link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap-theme.css">
<link rel="stylesheet" href="/css/ol.css" type="text/css">

<script type="text/javascript" src="/js/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/angular.js"></script>
<script type="text/javascript" src="/js/angular-route.js"></script>
<script type="text/javascript" src="/angular/arithmetic.js"></script>

<script type="text/javascript" src="/MathJax-master/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<body>
	<div class="container">
		
		<div class="jumbotron">
			<h4>Armar Problema</h4>
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<div class="btn-group" role="group">
					<input class="form-control" ng-model="query.form" data-toggle="tooltip" data-placement="bottom" title="Forma de la expresión">
				</div>
				<div class="btn-group" role="group">
					<input class="form-control" ng-model="query.min" data-toggle="tooltip" data-placement="bottom" title="Mínimo valor de una variable">
				</div>
				<div class="btn-group" role="group">
					<input class="form-control" ng-model="query.max" data-toggle="tooltip" data-placement="bottom" title="Máximo valor de una variable">
				</div>			
				<div class="btn-group" role="group">
					<input class="form-control" ng-model="query.probablySign" data-toggle="tooltip" data-placement="bottom" title="Probabilidad de signo (-)">
				</div>
				<div class="btn-group" role="group">
					<input class="form-control" ng-model="query.operations" data-toggle="tooltip" data-placement="bottom" title="Operaciones posibles">
				</div>
				<div class="btn-group" role="group">
					<button ng-click="newProblem()" class="btn btn-default">Nuevo Problema</button>
				</div>
			</div>
		</div>
		<br>
		<div class="panel panel-warning">
			<div class="panel-heading" >Problema</div>
			<div class="panel-body" mathjax-bind="problem.problemExpression" style="text-align: center"></div>
		</div>

		<div class="panel panel-success">
			<div class="panel-heading" >Problema Resuelto</div>
			<div class="panel-body" mathjax-bind="problem.solvedExpression" style="text-align: center"></div>
		</div>


		<ul class="nav nav-pills nav-justified">
			<li role="presentation" class="active">
				<a mathjax-bind="problem.correctAnswer" style="text-align: center" href="#"></a>
			</li>
			<li role="presentation" ng-repeat="answer in problem.answerOptions track by $index">
				<a mathjax-bind="answer" style="text-align: center" href="#"></a>
			</li>
		</ul>

	</div>
</body>


</html>