<meta charset="UTF-8">

<a ng-click="joinGame($index)" class="btn btn-primary col-xs-4 col-md-offset-1" ng-if="games[0].state == 'ENABLED'" disabled>Esperando...</a>
<a ng-click="startGame($index)" class="btn btn-success col-xs-4 col-md-offset-1" ng-if="games[0].state == 'AWAITED'">¡Comenzar!</a>

<div ng-if="games[0].state == 'STARTED'">
	<nav class="navbar navbar-default">
		<div class="container-fluid">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Nivel: </a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a>Puntos: <span class="sr-only">(current)</span></a></li>
					</li>
					<li ng-repeat="lives in game.vidas"><a><img src="assets/heart.png"></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a>Tiempo respuesta: <span class="sr-only">(current)</span></a></li>

					<li class="active"><a>Tiempo total: <span class="sr-only">(current)</span></a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="jumbotron">
<!-- 		<h3 mathjax-bind="game.ejercicio.expresion" style="text-align: center"></h3> -->
<!-- 		<h4 mathjax-bind="game.ejercicio.respuesta" ng-show="game.ejercicio.estado.respondio" style="text-align: center"></h4> -->
	</div>

	<div class="container">
		<div class="navbar">
<!-- 			<ul class="nav navbar-nav nav-justified"> -->
<!-- 				<li><a href="" ng-click="response('contradiction')">Contradicción</a></li> -->
<!-- 				<li><a href="" ng-click="response('false')">Falso</a></li> -->
<!-- 				<li><a href="" ng-click="response('true')">Verdadero</a></li> -->
<!-- 				<li><a href="" ng-click="response('tautology')">Tautología</a></li> -->
<!-- 			</ul> -->
		</div>
		<div class="container">
<!-- 			<button class="btn btn-default" ng-click="reset()">Start</button> -->
		</div>
	</div>
</div>