<div class="col-xs-12" >
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nivel</th>
				<th>Puntaje</th>
				<th>Extra 1</th>
				<th>Extra 2</th>
				<th>Extra 3</th>
				<th>Precuenta</th>
				<th>Con Tiempo</th>
				<button class="btn glyphicon glyphicon-plus" (click)="addLevel()"></button>
				<button class="btn glyphicon glyphicon-edit" (click)="editAll = !editAll"></button>
			</tr>

		</thead>
		<tbody>
			<tr *ngFor="#levelConfig of levelConfigs; #j = index">
				<td>{{j+1}}</td>
				<td>
					<editable 
						[edit]="editAll" 
						[value]="levelConfig.scoreConfig.baseScore" 
						(valueChanged)="levelConfig.scoreConfig.baseScore = $event">
					</editable></td>
				<td>
					<extra-score 
						[edit]="editAll" 
						[extraScore]="levelConfig.scoreConfig.extras[0]" 
						(valueChanged)="levelConfig.scoreConfig.extras[0]= $event">
					</extra-score>
				</td>
				<td>
					<extra-score 
						[edit]="editAll" 
						[extraScore]="levelConfig.scoreConfig.extras[1]" 
						(valueChanged)="levelConfig.scoreConfig.extras[1]= $event">
					</extra-score>
				</td>
				<td>
					<extra-score 
						[edit]="editAll" 
						[extraScore]="levelConfig.scoreConfig.extras[2]" 
						(valueChanged)="levelConfig.scoreConfig.extras[2]= $event">
					</extra-score>
				</td>
				<td>
					<editable 
						[edit]="editAll" 
						[value]="levelConfig.scoreConfig.preCount" 
						(valueChanged)="levelConfig.scoreConfig.preCount = $event">
					</editable>
				</td>
				<td>
					<editable 
						[edit]="editAll" 
						[type]="'checkbox'" 
						[value]="levelConfig.scoreConfig.withTime"
						(valueChanged)="levelConfig.scoreConfig.withTime = $event"> 
					</editable>
				</td>
				<button 
					class="btn glyphicon glyphicon-trash" 
					(click)="gameConfig.levelConfigs.splice(i,1)">
				</button>
			</tr>
		</tbody>
	</table>
</div>