<html ng-app="arithmetic-game-multi" ng-controller="arithmetic-player-multi-ctrl" >

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.css">
	
	<script type="text/javascript" src="/js/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="/js/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="/js/angular.js"></script>
	<script type="text/javascript" src="/js/angular-route.js"></script>
	<script type="text/javascript" src="/angular/arithmetic-game-multi.js"></script>
	
	<script type="text/javascript" src="/MathJax-master/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"> Juego Multijugador: {{player.name}}</a>
				</div>
			</div>
		</nav>

		<br> <br> <br> sdf

		<ng-view></ng-view>


	</div>
</body>


</html>