<meta charset="UTF-8">
<script type="text/javascript" src="lib/sockjs-1.0.3.js"></script>

<div ng-if="instance.status == 'NOT_SELECTED'">

	<ul class="list-group">
		<li ng-repeat="instance in instances" class="list-group-item">
			<a class="badge glyphicon glyphicon-trash" ng-click="joinGame(player.name, instance)"> </a>
			<a class="badge glyphicon glyphicon-stats" ng-click="showStats( instance._id )"> </a>		
			
			{{instance.gameName}}
		</li>
	</ul>

</div>

<div ng-if="instance.status == 'SUCCESS'">
    <nvd3 options="options" data="data"></nvd3>

<!-- 	instance -->
<!-- 	{{instance.data}} -->
</div>