<meta charset="UTF-8">
<div  class="container">
	<div class="row">
		<div class="btn-group col-xs-4 ">			
			<h3 style="color:#BCBCBC">Puntuación : {{score}}</h3>
		</div>
		<div class="btn-group col-xs-4 ">			
			<h3 style="color:#BCBCBC">Posición : {{posicion}}</h3>
		</div>
		<div class="btn-group col-xs-4 ">			
			<button 					
				ng-click="selectGame()" 
				onclick="toggleFullScreen()" 
				class="btn btn-success btn-lg">
				<b>¡JUGAR OTRA VEZ!</b>
			</button>		
		</div>

	    <nvd3 options="options" data="data"></nvd3>
	</div>
</div>

