<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />

<meta charset="UTF-8">


<div ng-if="gameInstance.instance.status == 'NOT_SELECTED'">
	<label>Nombre: (El nombre debe tener más de 4 caracteres)</label>
	<div class="input-group">
		<input type="text" ng-model="player.name" class="form-control" ng-class="">
		<span class="input-group-addon glyphicon glyphicon-ok btn-success active" ng-show="player.name.length >= 4"></span>
		<span class="input-group-addon glyphicon glyphicon-option-horizontal btn-warn active" ng-show="player.name.length < 4"></span>
	</div>
	<br>
	<ul class="list-group">
		<li ng-repeat="instance in instances" class="list-group-item">
		<button
			class="badge"
			ng-click="joinGame(player.name, instance)"
			ng-disabled="player.name.length < 4"
			uib-tooltip="'El nombre debe tener al menos 4 letras'"
			onclick="enableFullScreen()" >¡Jugar!</button>
			{{instance.instanceName}}</li>
	</ul>
</div>

<div id="game-div" class="all-height-100 no-margin" ng-show="gameInstance.instance.status == 'SUCCESS'">

	<game-level></game-level>

	<div
		class="all-height-100 no-margin"
		ng-show="gameInstance.status.problemStatus != 'SHOW_NEW_LEVEL'">
		<game-info></game-info>

				<div class="content all-height-75">
					<h3 ng-repeat="problem in gameInstance.instance.levels[gameLevels.order.level].gameProblems track by $index"
						ng-show="$index == gameLevels.order.problem"
						class="problem-expression vertical-in"
						mathjax-bind="problem.problemExpression"
						ng-show="gameInstance.status.problemStatus == 'SHOW_PROBLEM'">
					</h3>
				</div>
				<div ng-class="tooltips.tooltipClass"
					uib-tooltip-html="tooltips.responseStatus.message"
					tooltip-placement="top"
					tooltip-is-open="tooltips.show"
					tooltip-enable="tooltips.show"
					ng-mouseover=""
					onmouseover="">
					<div
						class="container-fluid"
						ng-repeat="problem in gameInstance.instance.levels[gameLevels.order.level].gameProblems track by $index">
						<div class="row" ng-show="$index == gameLevels.order.problem">

							<div class="btn-group btn-group-justified" style="top: -15px" role="group">
								<div 	class="btn-group"
										role="group"
										ng-repeat="answer in problem.answerOptions track by $index">
									<button
										ng-click="response(answer)"
										class="btn btn-black btn-lg btn-xl" 							
										mathjax-bind="answer">
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
