<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />

<meta charset="UTF-8">


<div ng-if="gameInstance.instance.status == 'NOT_SELECTED'">
	<div class="input-group">
		<span class="input-group-addon">Nombre: </span> 
		<input type="text" ng-model="player.name" class="form-control"><span class="input-group-addon" style="cursor:pointer">OK!</span>
	</div>
	<br>
	<ul class="list-group">
		<li ng-repeat="instance in instances" class="list-group-item">
		<button 
			class="badge" 
			ng-click="joinGame(player.name, instance)" 
			ng-disabled="player.name.length < 4"
			onclick="enableFullScreen()" >¡Jugar!</button>
			{{instance.gameName}}</li>
	</ul>
</div>

<div id="game-div" class="all-height-100 no-margin" ng-show="gameInstance.instance.status == 'SUCCESS'">	

	<div class="level-container" ng-if="gameInstance.status.problemStatus == 'SHOW_NEW_LEVEL' ">	
		<h3 class="level-message">Nivel {{gameLevels.order.level +1}}</h3>	
	</div>


	<div class="all-height-100 no-margin" 
		ng-show="gameInstance.status.problemStatus != 'SHOW_NEW_LEVEL'">
		<game-info></game-info>
		
				<div class="content all-height-75">		
					<h3 
						class="problem-expression vertical-in" 
						mathjax-bind="gameLevels.getActualProblem().problemExpression" 
						ng-show="gameInstance.status.problemStatus == 'SHOW_PROBLEM'">
					</h3>
					<h3 class="problem-expression" ng-class="solvedClass" 
						mathjax-bind="gameLevels.getActualProblem().solvedExpression" 
						ng-show="gameInstance.status.problemStatus == 'SHOW_SOLUTION'">
					</h3>			
				</div>

				<div class="container-fluid"  ng-repeat="problem in gameInstance.instance.levels[gameLevels.order.level] track by $index">
					<div class="row" ng-show="$index == gameLevels.order.problem">

						<div class="btn-group btn-group-justified" style="top: -10px" role="group">
							<div 	class="btn-group" 
									role="group" 
									ng-repeat="answer in problem.answerOptions track by $index">
								<button 							
									ng-click="response(answer)" 
									class="btn btn-black btn-lg" 							
									mathjax-bind="answer">
								</button>
							</div>	
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
<!--


mathjax-bind="problem.problemExpression" 
						ng-show="gameInstance.status.problemStatus == 'SHOW_PROBLEM'">
-->

<!--
			<div ng-repeat="problem in gameInstance.instance.levels[gameLevels.order.level] track by $index">
			-->