
<div class=" col-xs-12" >
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Problema</th>									
				<th>a</th>
				<th>pow</th>
				<th>mod</th>
				<th>Repeticiones</th>					
				<button class="btn glyphicon glyphicon-plus" (click)="addLevel()"></button>
				<button class="btn glyphicon glyphicon-edit" (click)="editAll = !editAll"></button>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="#levelConfig of levelConfigs; #i = index">
				<td>{{i+1}}</td>
				
				<td>
                    <variable 
                        [variableConfig]="levelConfig.problemConfig.variableConfigs[0]"
                        (variableConfig)="levelConfig.problemConfig.variableConfigs[0] = $event">
                    </variable>
                </td>

                <td>
                    <variable 
                        [variableConfig]="levelConfig.problemConfig.variableConfigs[1]"
                        (variableConfig)="levelConfig.problemConfig.variableConfigs[1] = $event">                        
                    </variable>
                </td>

                <td>
                    <variable 
                        [variableConfig]="levelConfig.problemConfig.variableConfigs[2]"
                        (variableConfig)="levelConfig.problemConfig.variableConfigs[2] = $event">                        
                    </variable>
                </td>

				<td><editable 
						[edit]="editAll" [value]="levelConfig.problemConfig.repetitions"
						(valueChanged)="levelConfig.problemConfig.repetitions= toNumber($event)"> 
				</editable></td>
				
				<button class="btn glyphicon glyphicon-trash" (click)="gameConfig.levelConfigs.splice(i,1)"></button>
			</tr>
		</tbody>
	</table>
</div>
<!--
<pre> 
 {{printProblem()}}   
 </pre> 
 -->	