<!-- <meta charset="UTF-8"> -->

<div class="container">
	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">Nombre del Juego</span> 
		<input #inputName class="form-control" [value]="gameConfig.name" (keyup)="gameConfig.name = inputName.value">
	</div>
	<br>

	<button class="btn btn-info" (click)="changeShowTable()">{{showHideTables}}</button>
	<button class="btn btn-default" >Nueva Etapa</button>


	<div *ngFor="#stage of gameConfig.stages; #i = index">
		
		<h2>Etapa {{i+1}}</h2>
		
			<arith-level *ngIf="isSimple(stage.levelConfigs[0])" 
				[levelConfigs]="stage.levelConfigs"
				[style.display]="showProblemConfig">
			</arith-level>

			<equation-level *ngIf="!isSimple(stage.levelConfigs[0])" 
				[levelConfigs]="stage.levelConfigs"
				[style.display]="showProblemConfig">
			</equation-level>

			<score 
				[levelConfigs]="stage.levelConfigs"
				[style.display]="showScoreConfig">
			</score>
		
	</div>
	
	


</div>
<h3 style="text-align:center">
	<button class="btn btn-success" (click)="saveOrUpdateGame()">
		{{getSaveMessage() }}
	</button>

</h3>

 <pre> 
 {{printProblem()}}   
 </pre> 