
<div class="container-fluid">
	<div class="row">
		<div class="btn-group btn-group-justified" role="group">
			<div class="btn-group" role="group">
				<button  class="btn btn-black">
				Nivel: {{gameLevels.order.level + 1}} : {{gameLevels.order.problem + 1}}
				</button> 
			</div>
			<div class="btn-group" role="group">
				<button
					ng-class="tooltips.tooltipClass" 
					class="btn btn-black" 
					uib-tooltip-html="tooltips.score.message" 
					tooltip-placement="bottom"
					tooltip-is-open="tooltips.show" 
					tooltip-enable="true">Puntos: {{gameInstance.status.score}}
				</button> 
			</div>	
			<div class="btn-group" role="group"> 
				<button class="btn btn-black "					
					style="margin: -5px"> 
					<img src="../assets/heart.png" 
					class="vertical-in" 
					ng-repeat="live in gameInstance.status.lives" >
				</button> 
			</div>	
			<div class="btn-group" role="group">
				<button 	
					class="btn btn-black" 
					ng-class="tooltips.tooltipClass" 
					uib-tooltip-html="tooltips.time.message" 
					tooltip-placement="bottom"
					tooltip-is-open="tooltips.show" 
					tooltip-enable="true">Tiempos: {{gameTimer.problemTime.value}} : {{gameTimer.gameTime.value}}
				</button>
			</div>		
		</div>
	</div>
</div>


<!--

<nav class="navbar navbar-inverse no-margin">
	<div class="navbar-header">
		<button 	class="navbar-brand" 
			class="btn btn-black">Nivel: {{gameLevels.order.level + 1}} : {{gameLevels.order.problem + 1}}
		</button> 
		<button 	class="navbar-brand"
			ng-class="tooltips.tooltipClass" 
			class="btn btn-black" 
			uib-tooltip-html="tooltips.score.message" 
			tooltip-placement="bottom"
			tooltip-is-open="tooltips.show" 
			tooltip-enable="true">Puntos: {{gameInstance.status.score}}
		</button> 
		<button 	class="navbar-brand vertical-in" class="btn btn-black"
			ng-repeat="live in gameInstance.status.lives" 
			style="margin: -5px"> 
			<img src="../assets/heart.png">
		</button> 
		<button 	class="navbar-brand" 
			class="btn btn-black" 
			ng-class="tooltips.tooltipClass" 
			uib-tooltip-html="tooltips.time.message" 
			tooltip-placement="bottom"
			tooltip-is-open="tooltips.show" 
			tooltip-enable="true">Tiempos: {{gameTimer.problemTime.value}} : {{gameTimer.gameTime.value}}
		</button>
	</div>
</nav>
-->