<div class="level-container" ng-if="gameInstance.status.problemStatus == 'SHOW_NEW_LEVEL' ">	
	<div class="level-message">
		<div class="col-xs-4"></div>
		<div class="col-xs-4"><h2>Nivel {{gameLevels.order.level +1}} </h2></div>
		<div class="col-xs-4">Posición: {{posicion}}</div>

		<div class="col-xs-6">
			<nvd3 options="options" data="data" ng-if="gameLevels.order.level != 0"></nvd3>	
		</div>
		<div class="col-xs-6">
			<nvd3 options="positionOption" data="positionData" ng-if="gameLevels.order.level != 0"></nvd3>	
		</div>
		<div class="col-xs-12">
			<button 
				class="level-clock btn btn-circle btn-lg" 
				ng-class="clock" 
				ng-disabled="clock == 'btn-warning'"
				ng-click="clickClock()">{{count}}</button>

		</div>
	
	</div>
	
</div>