a {
    color: white;
}

a:hover {
    cursor: pointer;
}

body{
    margin: 0;
    padding: 0;
    /*background-color: black;*/
    height: 100%;
}

span{
    border-left-style: none !important;
    border-left-width: 0 !important;
}

.color-1{ background-color: black;  }
.color-2{ background-color: blue;   }
.color-3{ background-color: green;  }
.color-4{ background-color: grey;   }
.color-5{ background-color: red;    }

.contenido{
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background-color: #E16969;
}


.btn-group{
    margin:0;
    padding: 0;
}

.content{
    background-color: #D7D7D7;
    opacity: 0.5;
    height: 100%;
}

.content > h3{
    position: relative;
    top: 20%;   
    margin: 0 auto;    
    color: black; 
}

.all-height-75{
    height: 75%;
}
.all-height-100{
    height: 100%;
}
.no-margin{
    margin: 0;
    padding: 0;
}

.level-message{
    text-align: center;
    line-height: 200px;
    color: #DED7D7;
}

.level-container{
    background-color: #6C2020;
}

.well{
    background-color: #FFC35A;
    border : none;
}
.well > h3 {
    margin: 0;
    padding: 0;
}

.tooltip-great + .tooltip > .tooltip-inner {
    background-color: #00FF18;
}
.tooltip-good + .tooltip > .tooltip-inner {
    background-color: #7FC879;
}
.tooltip-ok + .tooltip > .tooltip-inner {
    background-color: #C4D534;
}
.tooltip-pass + .tooltip > .tooltip-inner {
    background-color: #9F9A9A;
}
.tooltip-nook + .tooltip > .tooltip-inner {
    background-color: #D80B0B;
}



.inner-center{    
    position: relative;
    width: 100px;
    height: 50px;
    top: 20%;
    margin: 0 auto;     
}

.inner-right{   
    position: relative;
    width: 100px;
    height: 50px;
    margin: -30px 80%;      
    background-color: #038403;
}

.first-position-data{
    display: inline;
}

.problem-expression {
    text-align: center;
}

.btn-black {
    color: white;
    background-color: black;
}


.btn-black:hover,
.btn-black:active,
.btn-black:link,
.btn-black:visited,
.btn-black:focus,
.btn-black:checked,
.btn-black:disabled,
.btn-black:empty,
.btn-black:enabled,
.btn-black:invalid,
.btn-black:target,
.btn-black::selection,
.btn-black:required{
    color: white;
    background-color: black;
}

/*

.btn:hover,
.btn:active,
.btn:link,
.btn:visited,
.btn:focus,
.btn:checked,
.btn:disabled,
.btn:empty,
.btn:enabled,
.btn:invalid,
.btn:target,
.btn::selection,
.btn:required {
    background-color: black;
    color: white;
}


.btn-black:active {
    color: white;
    background-color: black;
}

.btn-black:link {
    color: white;
    background-color: black;
}

.btn-black:visited {
    color: white;
    background-color: black;
}

.btn-black:focus {
    color: white;
    background-color: black;
}*/

.btn-green {
    color: white;
    background-color: green;
}
.btn-red {
    color: white;
    background-color: #C10D0D;
}

