a {
    color: white;
}

a:hover {
    cursor: pointer;
}

body {
    background-color: #eee;
}

.btn-group{
    margin:0;
    padding: 0;
}

.level-message{
    text-align: center;
    line-height: 200px;
    color: #DED7D7;
}

.level-container{
    background-color: #6C2020;
}

.well{
    background-color: #FFC35A;
    border : none;
}
.well > h3 {
    margin: 0;
    padding: 0;
}

.tooltip-great + .tooltip > .tooltip-inner {
    background-color: #00FF18;
}
.tooltip-good + .tooltip > .tooltip-inner {
    background-color: #7FC879;
}
.tooltip-ok + .tooltip > .tooltip-inner {
    background-color: #C4D534;
}
.tooltip-pass + .tooltip > .tooltip-inner {
    background-color: #9F9A9A;
}
.tooltip-nook + .tooltip > .tooltip-inner {
    background-color: #D80B0B;
}



.inner-center{    
    position: relative;
    width: 100px;
    height: 50px;
    top: 20%;
    margin: 0 auto;     
}

.inner-right{   
    position: relative;
    width: 100px;
    height: 50px;
    margin: -30px 80%;      
    background-color: #038403;
}



.first-position-data{

    display: inline;
}

.problem-expression {
    text-align: center;
}

.btn-black {
    color: white;
    background-color: black;
}

.btn.black:hover {
    color: black;
    background-color: white;
}

.btn.black:active {
    color: white;
    background-color: black;
}

.btn.black:link {
    color: white;
    background-color: black;
}

.btn.black:visited {
    color: white;
    background-color: black;
}

.btn.black:focus {
    color: white;
    background-color: black;
}

.btn-green {
    color: white;
    background-color: green;
}
.btn-red {
    color: white;
    background-color: #C10D0D;
}